
     <mat-card *ngFor="let housingLocation of filteredLocationList">
      <mat-card-content >
         <section class="listing">
            <div style="object-fit: cover;">
            <img
              class="listing-photo"
              [src]="housingLocation.photo" width=400px height=200px
              alt="Exterior photo of {{ housingLocation.name }}"
              crossorigin
            />
            <h2 class="listing-heading">{{ housingLocation.name }}</h2>
            <p class="listing-location">{{ housingLocation.city }}, {{ housingLocation.state }}</p>
            <a [routerLink]="['/details', housingLocation.id]">Learn More</a>
            </div>
          </section>
         </mat-card-content>
    </mat-card>
   
